<div class="container center">
  <div class="card col-md-6">
    <h2 class="my-2 text-center">Sign In</h2>
    <div class="underline"></div>
    <form class="p-4" #loginForm="ngForm">
      <div class="form-group py-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required #email="ngModel"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [(ngModel)]="model.email">
        <div class="text-danger" *ngIf="email?.invalid && (email.touched || email.dirty)">
          <p *ngIf="email?.errors?.['required']">Email is required</p>
          <p *ngIf="email?.errors?.['pattern']">Email is invalid</p>
        </div>
      </div>

      <div class="form-group py-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
          #password="ngModel" required [(ngModel)]="model.password">
        <div class="text-danger" *ngIf="password?.['invalid'] && (password?.['dirty'] || password?.['touched'])">
          <p *ngIf="password?.errors?.['required']">Password is required</p>
        </div>
      </div>

      <div class="d-grid py-2">
        <button class="btn btn-block btn-primary" [disabled]="loginForm.invalid" (click)="login()">Login</button>
      </div>
    </form>
  </div>
</div>
